.compress__download__all {
  background: linear-gradient(135deg, #f7d07a, #f2b600, #f9b300);
  color: #333; /* Dark text for better contrast */
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.compress__download__all:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.compress__img__ctn {
  position: relative;
}
.compress__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 0.2s ease;
  background-color: rgba(51, 51, 51, 0);
  letter-spacing: 0.3em;
}
.compress__overlay p {
  opacity: 0;
}

.compress__img__ctn:hover .compress__overlay {
  background-color: rgba(51, 51, 51, 0.9);
}
.compress__img__ctn:hover .compress__overlay p {
  opacity: 1;
}

.compression-ratio {
  background: linear-gradient(to bottom, #aaff00, #55ff00);
}

.activeCompress {
  background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}

/* Loader */
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  /* color: #ff3d00; */
  color: #f2b600;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
