@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: linear-gradient(45deg, #8b0000, #000000);
  --text-select: #dfa579;
  --orange: #ff6347;
}
* {
  box-sizing: border-box;
}
/* Images */
img {
  max-width: 100%;
}
/* logo */
.header__logo img {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(40deg) brightness(1.3);
}

/* Main structure */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  background: var(--main-bg);
  /* background: radial-gradient(circle, #8b0000, #2a2a2a); */
  /* background: linear-gradient(to bottom right, #ff3333, #660000); */
  /* background: linear-gradient(to bottom, #4c0000, #2a0000); */
}

.no-scroll {
  overflow: hidden;
}

::-moz-selection {
  /* Code for Firefox */

  background: var(--text-select);
}

::selection {
  background: var(--text-select);
}
